
create Database Clinic 
USE Clinic
GO
/****** Object:  Database [CLINIC]    Script Date: 11/16/2025 12:08:35 SA ******/
CREATE DATABASE [CLINIC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CLINIC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CLINIC.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CLINIC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CLINIC_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CLINIC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CLINIC]
GO
/****** Object:  Table [dbo].[appointments]    Script Date: 11/16/2025 12:08:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointments](
	[appointment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[end_time] [datetime2](6) NOT NULL,
	[fee] [numeric](38, 2) NULL,
	[notes] [varchar](255) NULL,
	[start_time] [datetime2](6) NOT NULL,
	[status] [nvarchar](30) NULL,
	[doctorid] [bigint] NOT NULL,
	[patientid] [bigint] NULL,
	[scheduleid] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[articles]    Script Date: 11/16/2025 12:08:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articles](
	[article_id] [bigint] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[image_url] [varchar](255) NULL,
	[like_count] [int] NOT NULL,
	[status] [nvarchar](20) NULL,
	[title] [nvarchar](max) NULL,
	[authorid] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[article_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clinical_referrals]    Script Date: 11/16/2025 12:08:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clinical_referrals](
	[referralid] [bigint] IDENTITY(1,1) NOT NULL,
	[completed_at] [datetime2](6) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[result_file_url] [varchar](500) NULL,
	[result_text] [nvarchar](max) NULL,
	[status] [varchar](20) NOT NULL,
	[appointmentid] [bigint] NOT NULL,
	[from_doctorid] [bigint] NOT NULL,
	[performed_by_doctorid] [bigint] NULL,
	[to_departmentid] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[referralid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conversations]    Script Date: 11/16/2025 12:08:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversations](
	[conversation_id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[user_id_of_doctor] [bigint] NOT NULL,
	[user_id_of_patient] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[conversation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 11/16/2025 12:08:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[departmentid] [bigint] IDENTITY(1,1) NOT NULL,
	[department_name] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[image_url] [varchar](500) NULL,
	[status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[departmentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_schedules]    Script Date: 11/16/2025 12:08:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_schedules](
	[schedule_id] [bigint] IDENTITY(1,1) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[notes] [varchar](255) NULL,
	[start_time] [time](7) NOT NULL,
	[status] [nvarchar](20) NULL,
	[work_date] [date] NOT NULL,
	[doctorid] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctors]    Script Date: 11/16/2025 12:08:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctors](
	[doctorid] [bigint] NOT NULL,
	[bio] [nvarchar](max) NULL,
	[citizen_id] [nvarchar](max) NULL,
	[created_at] [date] NULL,
	[degree] [nvarchar](max) NULL,
	[practice_certificate_number] [nvarchar](max) NULL,
	[specialty] [nvarchar](max) NULL,
	[status] [varchar](255) NULL,
	[work_experience] [nvarchar](max) NULL,
	[working_hours] [nvarchar](max) NULL,
	[departmentid] [bigint] NOT NULL,
	[userid] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[doctorid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medical_records]    Script Date: 11/16/2025 12:08:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medical_records](
	[record_id] [int] IDENTITY(1,1) NOT NULL,
	[advice] [nvarchar](max) NULL,
	[created_at] [datetime2](6) NULL,
	[diagnosis] [nvarchar](max) NULL,
	[appointmentid] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicines]    Script Date: 11/16/2025 12:08:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicines](
	[medicine_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[note] [nvarchar](max) NULL,
	[strength] [varchar](255) NULL,
	[unit_price] [numeric](38, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[medicine_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 11/16/2025 12:08:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[message_id] [bigint] IDENTITY(1,1) NOT NULL,
	[attachmenturl] [varchar](255) NULL,
	[content] [nvarchar](max) NULL,
	[is_read] [bit] NULL,
	[sent_at] [datetime2](6) NULL,
	[conversationid] [bigint] NOT NULL,
	[senderid] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patients]    Script Date: 11/16/2025 12:08:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[patientid] [bigint] NOT NULL,
	[created_at] [date] NULL,
	[health_insurance_number] [varchar](255) NULL,
	[medical_history] [nvarchar](max) NULL,
	[status] [varchar](255) NULL,
	[userid] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[patientid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 11/16/2025 12:08:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[paymentid] [bigint] IDENTITY(1,1) NOT NULL,
	[amount] [numeric](38, 2) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[currency] [varchar](255) NOT NULL,
	[description] [varchar](255) NULL,
	[failure_reason] [varchar](255) NULL,
	[paid_at] [datetime2](6) NULL,
	[patientid] [bigint] NULL,
	[payoscode] [varchar](255) NULL,
	[payoslink] [varchar](255) NULL,
	[payospayment_id] [varchar](255) NULL,
	[payment_method] [varchar](255) NULL,
	[status] [varchar](255) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[appointmentid] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[paymentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescription_items]    Script Date: 11/16/2025 12:08:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescription_items](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[dosage] [nvarchar](max) NULL,
	[duration] [nvarchar](max) NULL,
	[note] [nvarchar](max) NULL,
	[quantity] [int] NULL,
	[medicineid] [int] NOT NULL,
	[prescriptionid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescriptions]    Script Date: 11/16/2025 12:08:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescriptions](
	[prescription_id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[notes] [nvarchar](max) NULL,
	[recordid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[prescription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 11/16/2025 12:08:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[review_id] [bigint] IDENTITY(1,1) NOT NULL,
	[comment] [nvarchar](255) NULL,
	[created_at] [datetime2](6) NULL,
	[rating] [int] NULL,
	[status] [nvarchar](20) NULL,
	[appointmentid] [bigint] NOT NULL,
	[doctorid] [bigint] NOT NULL,
	[patientid] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 11/16/2025 12:08:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[roleid] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](max) NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_notifications]    Script Date: 11/16/2025 12:08:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_notifications](
	[notificationid] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[email_sent] [bit] NULL,
	[email_sent_at] [datetime2](6) NULL,
	[is_read] [bit] NULL,
	[message] [nvarchar](max) NULL,
	[read_at] [datetime2](6) NULL,
	[title] [nvarchar](255) NOT NULL,
	[type] [nvarchar](50) NULL,
	[userid] [bigint] NOT NULL,
	[appointmentid] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[notificationid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/16/2025 12:08:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[userid] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](max) NULL,
	[avatar_url] [varchar](500) NULL,
	[created_at] [datetime2](6) NULL,
	[dob] [date] NULL,
	[email] [varchar](100) NOT NULL,
	[first_name] [nvarchar](max) NULL,
	[gender] [varchar](255) NULL,
	[last_name] [nvarchar](max) NULL,
	[password_hash] [varchar](255) NOT NULL,
	[phone] [varchar](20) NULL,
	[status] [varchar](255) NULL,
	[roleid] [bigint] NOT NULL,
	[failed_login_attempts] [int] NULL,
	[locked_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[appointments] ON 

INSERT [dbo].[appointments] ([appointment_id], [end_time], [fee], [notes], [start_time], [status], [doctorid], [patientid], [scheduleid]) VALUES (1, CAST(N'2025-11-13T13:30:00.0000000' AS DateTime2), CAST(10000.00 AS Numeric(38, 2)), NULL, CAST(N'2025-11-13T13:00:00.0000000' AS DateTime2), N'Available', 1, NULL, 1)
INSERT [dbo].[appointments] ([appointment_id], [end_time], [fee], [notes], [start_time], [status], [doctorid], [patientid], [scheduleid]) VALUES (2, CAST(N'2025-11-13T14:00:00.0000000' AS DateTime2), CAST(10000.00 AS Numeric(38, 2)), NULL, CAST(N'2025-11-13T13:30:00.0000000' AS DateTime2), N'Available', 1, NULL, 1)
INSERT [dbo].[appointments] ([appointment_id], [end_time], [fee], [notes], [start_time], [status], [doctorid], [patientid], [scheduleid]) VALUES (3, CAST(N'2025-11-13T14:30:00.0000000' AS DateTime2), CAST(10000.00 AS Numeric(38, 2)), NULL, CAST(N'2025-11-13T14:00:00.0000000' AS DateTime2), N'Available', 1, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[articles] ON 

SET IDENTITY_INSERT [dbo].[articles] OFF
GO
SET IDENTITY_INSERT [dbo].[clinical_referrals] ON 

INSERT [dbo].[clinical_referrals] ([referralid], [completed_at], [created_at], [notes], [result_file_url], [result_text], [status], [appointmentid], [from_doctorid], [performed_by_doctorid], [to_departmentid]) VALUES (1, CAST(N'2025-11-15T21:48:46.3038550' AS DateTime2), CAST(N'2025-11-15T21:47:25.9338790' AS DateTime2), N'màu gà', N'https://thanhphohaiphong.gov.vn/wp-content/uploads/2024/03/XU-1.jpg', N'đau chim', N'DONE', 52, 1, 10, 18)
INSERT [dbo].[clinical_referrals] ([referralid], [completed_at], [created_at], [notes], [result_file_url], [result_text], [status], [appointmentid], [from_doctorid], [performed_by_doctorid], [to_departmentid]) VALUES (2, CAST(N'2025-11-15T22:30:50.6720560' AS DateTime2), CAST(N'2025-11-15T22:29:22.9741720' AS DateTime2), N'Chụp X-quang', N'https://benhvienthucuc.vn/wp-content/uploads/2023/01/ket-qua-kham-thai-1.jpg', N'Siêu âm là bê đê', N'DONE', 293, 4, 4, 31)
SET IDENTITY_INSERT [dbo].[clinical_referrals] OFF
GO
SET IDENTITY_INSERT [dbo].[conversations] ON 

INSERT [dbo].[conversations] ([conversation_id], [created_at], [user_id_of_doctor], [user_id_of_patient]) VALUES (1, CAST(N'2025-11-13T11:04:31.5900860' AS DateTime2), 2, 3)
INSERT [dbo].[conversations] ([conversation_id], [created_at], [user_id_of_doctor], [user_id_of_patient]) VALUES (2, CAST(N'2025-11-14T22:35:00.8771980' AS DateTime2), 2, 12)
INSERT [dbo].[conversations] ([conversation_id], [created_at], [user_id_of_doctor], [user_id_of_patient]) VALUES (3, CAST(N'2025-11-15T21:18:47.2268370' AS DateTime2), 2, 17)
SET IDENTITY_INSERT [dbo].[conversations] OFF
GO
SET IDENTITY_INSERT [dbo].[departments] ON 

INSERT [dbo].[departments] ([departmentid], [department_name], [description], [image_url], [status]) VALUES (2, N'Tim mạch', N'Khoa Tim mạch - Chuyên điều trị các bệnh về tim và mạch máu', N'/uploads/departments/tim_mach.jpg', N'ACTIVE')
INSERT [dbo].[departments] ([departmentid], [department_name], [description], [image_url], [status]) VALUES (3, N'Hô hấp', N'Khoa Hô hấp - Chuyên điều trị các bệnh lý phổi và đường hô hấp', N'/uploads/departments/ho_hap.jpg', N'ACTIVE')
INSERT [dbo].[departments] ([departmentid], [department_name], [description], [image_url], [status]) VALUES (4, N'Tiêu hóa', N'Khoa Tiêu hóa - Chuyên điều trị các bệnh về dạ dày, gan, mật và ruột', N'/uploads/departments/tieu_hoa.jpg', N'ACTIVE')
SET IDENTITY_INSERT [dbo].[departments] OFF
GO
SET IDENTITY_INSERT [dbo].[doctor_schedules] ON 

INSERT [dbo].[doctor_schedules] ([schedule_id], [end_time], [notes], [start_time], [status], [work_date], [doctorid]) VALUES (1, CAST(N'17:00:00' AS Time), N'', CAST(N'13:00:00' AS Time), N'Available', CAST(N'2025-11-13' AS Date), 1)
INSERT [dbo].[doctor_schedules] ([schedule_id], [end_time], [notes], [start_time], [status], [work_date], [doctorid]) VALUES (2, CAST(N'12:00:00' AS Time), N'', CAST(N'08:00:00' AS Time), N'Available', CAST(N'2025-11-12' AS Date), 1)
INSERT [dbo].[doctor_schedules] ([schedule_id], [end_time], [notes], [start_time], [status], [work_date], [doctorid]) VALUES (3, CAST(N'17:00:00' AS Time), N'', CAST(N'13:00:00' AS Time), N'Available', CAST(N'2025-11-12' AS Date), 1)
GO
SET IDENTITY_INSERT [dbo].[doctor_schedules] OFF
GO
SET IDENTITY_INSERT [dbo].[medical_records] ON 

INSERT [dbo].[medical_records] ([record_id], [advice], [created_at], [diagnosis], [appointmentid]) VALUES (1, N'rửa sau khi qh, hạn chế như Nam', CAST(N'2025-11-15T21:52:23.6434550' AS DateTime2), N'nỗi nhiều chấm đỏ quanh vùng', 52)
INSERT [dbo].[medical_records] ([record_id], [advice], [created_at], [diagnosis], [appointmentid]) VALUES (2, N'Không nên ăn đồ cay trong lúc mang thai', CAST(N'2025-11-15T22:32:55.2784980' AS DateTime2), N'Đau đầu', 293)
SET IDENTITY_INSERT [dbo].[medical_records] OFF
GO
SET IDENTITY_INSERT [dbo].[medicines] ON 

INSERT [dbo].[medicines] ([medicine_id], [name], [note], [strength], [unit_price]) VALUES (1, N'Paracetamol', N'Thuốc giảm đau hạ sốt', N'500mg', CAST(2000.00 AS Numeric(38, 2)))
INSERT [dbo].[medicines] ([medicine_id], [name], [note], [strength], [unit_price]) VALUES (2, N'Ibuprofen', N'Thuốc chống viêm', N'400mg', CAST(3500.00 AS Numeric(38, 2)))
INSERT [dbo].[medicines] ([medicine_id], [name], [note], [strength], [unit_price]) VALUES (3, N'Amoxicillin', N'Thuốc kháng sinh', N'250mg', CAST(15000.00 AS Numeric(38, 2)))
SET IDENTITY_INSERT [dbo].[medicines] OFF
GO
SET IDENTITY_INSERT [dbo].[messages] ON 

INSERT [dbo].[messages] ([message_id], [attachmenturl], [content], [is_read], [sent_at], [conversationid], [senderid]) VALUES (1, N'/uploads/8f9d2644-4bdb-4202-8e00-607a6148a234.jpg', N'[image]', 1, CAST(N'2025-11-13T11:04:44.4612110' AS DateTime2), 1, 3)
INSERT [dbo].[messages] ([message_id], [attachmenturl], [content], [is_read], [sent_at], [conversationid], [senderid]) VALUES (2, NULL, N'hi', 1, CAST(N'2025-11-14T22:35:03.3327290' AS DateTime2), 2, 12)
INSERT [dbo].[messages] ([message_id], [attachmenturl], [content], [is_read], [sent_at], [conversationid], [senderid]) VALUES (3, NULL, N'hi', 1, CAST(N'2025-11-14T22:35:12.3967120' AS DateTime2), 2, 2)
SET IDENTITY_INSERT [dbo].[messages] OFF
GO
INSERT [dbo].[patients] ([patientid], [created_at], [health_insurance_number], [medical_history], [status], [userid]) VALUES (3, CAST(N'2025-11-12' AS Date), NULL, N'Chưa có thông tin', N'ACTIVE', 3)
INSERT [dbo].[patients] ([patientid], [created_at], [health_insurance_number], [medical_history], [status], [userid]) VALUES (4, CAST(N'2025-11-12' AS Date), NULL, N'Chưa có thông tin', N'ACTIVE', 4)
INSERT [dbo].[patients] ([patientid], [created_at], [health_insurance_number], [medical_history], [status], [userid]) VALUES (5, CAST(N'2025-11-12' AS Date), NULL, N'Chưa có thông tin', N'ACTIVE', 5)
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

SET IDENTITY_INSERT [dbo].[payments] OFF
GO
SET IDENTITY_INSERT [dbo].[prescription_items] ON 

INSERT [dbo].[prescription_items] ([item_id], [dosage], [duration], [note], [quantity], [medicineid], [prescriptionid]) VALUES (1, N'3 lần ', N'3 ngày', N'Trước sau ăn', 1, 2, 1)
INSERT [dbo].[prescription_items] ([item_id], [dosage], [duration], [note], [quantity], [medicineid], [prescriptionid]) VALUES (2, N'4 lần', N'3 ngày', N'sau ăn ', 12, 13, 1)
INSERT [dbo].[prescription_items] ([item_id], [dosage], [duration], [note], [quantity], [medicineid], [prescriptionid]) VALUES (3, N'1 viên/ngày', N'7 ngày', N'Uống sau ăn', 7, 11, 2)
SET IDENTITY_INSERT [dbo].[prescription_items] OFF
GO
SET IDENTITY_INSERT [dbo].[prescriptions] ON 

INSERT [dbo].[prescriptions] ([prescription_id], [created_at], [notes], [recordid]) VALUES (1, CAST(N'2025-11-15T21:52:23.6786050' AS DateTime2), N'nỗi nhiều chấm đỏ quanh vùng', 1)
INSERT [dbo].[prescriptions] ([prescription_id], [created_at], [notes], [recordid]) VALUES (2, CAST(N'2025-11-15T22:32:55.2950900' AS DateTime2), N'Đau đầu', 2)
SET IDENTITY_INSERT [dbo].[prescriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[reviews] ON 

INSERT [dbo].[reviews] ([review_id], [comment], [created_at], [rating], [status], [appointmentid], [doctorid], [patientid]) VALUES (1, N'ok', CAST(N'2025-11-13T12:09:28.6245500' AS DateTime2), 5, N'ACTIVE', 16, 1, 3)
INSERT [dbo].[reviews] ([review_id], [comment], [created_at], [rating], [status], [appointmentid], [doctorid], [patientid]) VALUES (2, N'bác sĩ khám tận tình nhưng hơi đau', CAST(N'2025-11-15T21:21:09.8550110' AS DateTime2), 4, N'ACTIVE', 51, 1, 17)
INSERT [dbo].[reviews] ([review_id], [comment], [created_at], [rating], [status], [appointmentid], [doctorid], [patientid]) VALUES (3, N'ok đấy người đẹp
', CAST(N'2025-11-15T22:11:02.2560610' AS DateTime2), 4, N'ACTIVE', 269, 10, 12)
SET IDENTITY_INSERT [dbo].[reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([roleid], [description], [name]) VALUES (1, N'Quản trị hệ thống', N'Admin')
INSERT [dbo].[roles] ([roleid], [description], [name]) VALUES (2, N'Bác sĩ có thể khám, tạo lịch trình, quản lý bệnh án', N'Doctor')
INSERT [dbo].[roles] ([roleid], [description], [name]) VALUES (3, N'Bệnh nhân có thể đặt lịch và trò chuyện với bác sĩ', N'Patient')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[system_notifications] ON 

INSERT [dbo].[system_notifications] ([notificationid], [created_at], [email_sent], [email_sent_at], [is_read], [message], [read_at], [title], [type], [userid], [appointmentid]) VALUES (1, CAST(N'2025-11-12T20:29:10.8622420' AS DateTime2), 0, NULL, 1, N'Chào mừng bạn đã tạo tài khoản thành công.', CAST(N'2025-11-12T20:56:48.6651040' AS DateTime2), N'Đăng ký tài khoản thành công', N'system', 1, NULL)
INSERT [dbo].[system_notifications] ([notificationid], [created_at], [email_sent], [email_sent_at], [is_read], [message], [read_at], [title], [type], [userid], [appointmentid]) VALUES (2, CAST(N'2025-11-13T11:02:07.6867660' AS DateTime2), 0, NULL, 1, N'Lịch khám của bạn đã được tạo thành công.', CAST(N'2025-11-15T17:01:13.0998160' AS DateTime2), N'Đặt lịch thành công', N'appointment', 3, 16)
INSERT [dbo].[system_notifications] ([notificationid], [created_at], [email_sent], [email_sent_at], [is_read], [message], [read_at], [title], [type], [userid], [appointmentid]) VALUES (3, CAST(N'2025-11-14T19:20:39.1392730' AS DateTime2), 0, NULL, 1, N'Chào mừng bạn đã tạo tài khoản thành công.', CAST(N'2025-11-14T22:41:03.6921630' AS DateTime2), N'Đăng ký tài khoản thành công', N'system', 12, NULL)
SET IDENTITY_INSERT [dbo].[system_notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([userid], [address], [avatar_url], [created_at], [dob], [email], [first_name], [gender], [last_name], [password_hash], [phone], [status], [roleid], [failed_login_attempts], [locked_at]) VALUES (1, N'Hà Nội', N'/uploads/30100969-de8d-4839-a876-61fdf64c7172.jpg', CAST(N'2025-11-12T20:29:07.4007560' AS DateTime2), CAST(N'1980-01-01' AS Date), N'admin.test@clinic.com', N'Thanh Cường', N'MALE', N'Nguyễn', N'$2a$10$DtC1ZtPL4.suKgEjBJtjcOj/tEmMC2Fz.vmi6w8zpN8tCGg5QIyVW', N'0123456789', N'ACTIVE', 1, 0, NULL)
INSERT [dbo].[users] ([userid], [address], [avatar_url], [created_at], [dob], [email], [first_name], [gender], [last_name], [password_hash], [phone], [status], [roleid], [failed_login_attempts], [locked_at]) VALUES (2, N'Duy Nghĩa, Đà Nẵng', N'/uploads/9c47ff2b-d8df-4c40-9e83-c0f4863f1401.jpg', CAST(N'2025-11-12T20:34:49.6367040' AS DateTime2), CAST(N'2000-02-22' AS Date), N'hoangluu2172k4@gmail.com', N'Quang Hoang', N'MALE', N'Võ Văn', N'$2a$10$NGtK.piuaFE.fdlaVxXLSelUEpR2baUC0M9I7U8sR3c8A0qoleJem', N'0993779736', N'ACTIVE', 2, 2, NULL)
INSERT [dbo].[users] ([userid], [address], [avatar_url], [created_at], [dob], [email], [first_name], [gender], [last_name], [password_hash], [phone], [status], [roleid], [failed_login_attempts], [locked_at]) VALUES (3, NULL, N'/uploads/user_3.jpg', CAST(N'2025-11-12T21:27:58.8176350' AS DateTime2), NULL, N'luuldhde180497@fpt.edu.vn', N'Luong Dang Hoang Luu', NULL, N'(K18 DN)', N'oauth_google_user', NULL, N'ACTIVE', 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UKqgs5ru0s4chx086o2q5lsh5h6]    Script Date: 11/16/2025 12:08:35 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKqgs5ru0s4chx086o2q5lsh5h6] ON [dbo].[doctors]
(
	[userid] ASC
)
WHERE ([userid] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK76i7cykb7wtnwouho3w40fv98]    Script Date: 11/16/2025 12:08:35 SA ******/
ALTER TABLE [dbo].[medical_records] ADD  CONSTRAINT [UK76i7cykb7wtnwouho3w40fv98] UNIQUE NONCLUSTERED 
(
	[appointmentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKb6dv5kee0aoi485ijmu3n63ic]    Script Date: 11/16/2025 12:08:35 SA ******/
ALTER TABLE [dbo].[medicines] ADD  CONSTRAINT [UKb6dv5kee0aoi485ijmu3n63ic] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKr2xwuusw22gs9fxuln0u7nmp0]    Script Date: 11/16/2025 12:08:35 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKr2xwuusw22gs9fxuln0u7nmp0] ON [dbo].[patients]
(
	[userid] ASC
)
WHERE ([userid] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKqj1k1r1ti3q8sb1qbw3ngk65y]    Script Date: 11/16/2025 12:08:35 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKqj1k1r1ti3q8sb1qbw3ngk65y] ON [dbo].[payments]
(
	[appointmentid] ASC
)
WHERE ([appointmentid] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKt9c8vs8g1ie3299v5xrjn9f4m]    Script Date: 11/16/2025 12:08:35 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKt9c8vs8g1ie3299v5xrjn9f4m] ON [dbo].[payments]
(
	[payospayment_id] ASC
)
WHERE ([payospayment_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKinbf1288jt5myyfkv0oim1kf9]    Script Date: 11/16/2025 12:08:35 SA ******/
ALTER TABLE [dbo].[prescriptions] ADD  CONSTRAINT [UKinbf1288jt5myyfkv0oim1kf9] UNIQUE NONCLUSTERED 
(
	[recordid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKofx66keruapi6vyqpv6f2or37]    Script Date: 11/16/2025 12:08:35 SA ******/
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [UKofx66keruapi6vyqpv6f2or37] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 11/16/2025 12:08:35 SA ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[appointments] ADD  DEFAULT ('Scheduled') FOR [status]
GO
ALTER TABLE [dbo].[articles] ADD  DEFAULT ((0)) FOR [like_count]
GO
ALTER TABLE [dbo].[articles] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[doctor_schedules] ADD  DEFAULT ('Available') FOR [status]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [FKcigt1kwg3be4ngf2re426qpnb] FOREIGN KEY([patientid])
REFERENCES [dbo].[patients] ([patientid])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [FKcigt1kwg3be4ngf2re426qpnb]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [FKkr1qrelwp1w32wm4qhonpqd8y] FOREIGN KEY([scheduleid])
REFERENCES [dbo].[doctor_schedules] ([schedule_id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [FKkr1qrelwp1w32wm4qhonpqd8y]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [FKlk9bqh35w3dw9ma4018nixhs1] FOREIGN KEY([doctorid])
REFERENCES [dbo].[doctors] ([doctorid])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [FKlk9bqh35w3dw9ma4018nixhs1]
GO
ALTER TABLE [dbo].[articles]  WITH CHECK ADD  CONSTRAINT [FK2u99wem5cehewtfrxq2tffi6f] FOREIGN KEY([authorid])
REFERENCES [dbo].[users] ([userid])
GO
ALTER TABLE [dbo].[articles] CHECK CONSTRAINT [FK2u99wem5cehewtfrxq2tffi6f]
GO
ALTER TABLE [dbo].[clinical_referrals]  WITH CHECK ADD  CONSTRAINT [FKigrxds3gvh5lxoh94w5snj3cm] FOREIGN KEY([appointmentid])
REFERENCES [dbo].[appointments] ([appointment_id])
GO
ALTER TABLE [dbo].[clinical_referrals] CHECK CONSTRAINT [FKigrxds3gvh5lxoh94w5snj3cm]
GO
ALTER TABLE [dbo].[clinical_referrals]  WITH CHECK ADD  CONSTRAINT [FKktav6bwxre7tb4uwlryrc3kol] FOREIGN KEY([from_doctorid])
REFERENCES [dbo].[doctors] ([doctorid])
GO
ALTER TABLE [dbo].[clinical_referrals] CHECK CONSTRAINT [FKktav6bwxre7tb4uwlryrc3kol]
GO
ALTER TABLE [dbo].[clinical_referrals]  WITH CHECK ADD  CONSTRAINT [FKocvr6id6c351uma1m0n36lfyu] FOREIGN KEY([to_departmentid])
REFERENCES [dbo].[departments] ([departmentid])
GO
ALTER TABLE [dbo].[clinical_referrals] CHECK CONSTRAINT [FKocvr6id6c351uma1m0n36lfyu]
GO
ALTER TABLE [dbo].[clinical_referrals]  WITH CHECK ADD  CONSTRAINT [FKphakhaeq77ph2wv1p5x44vkxm] FOREIGN KEY([performed_by_doctorid])
REFERENCES [dbo].[doctors] ([doctorid])
GO
ALTER TABLE [dbo].[clinical_referrals] CHECK CONSTRAINT [FKphakhaeq77ph2wv1p5x44vkxm]
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD  CONSTRAINT [FK7wxkfh3lr91p82ebq9ek3gb50] FOREIGN KEY([user_id_of_patient])
REFERENCES [dbo].[users] ([userid])
GO
ALTER TABLE [dbo].[conversations] CHECK CONSTRAINT [FK7wxkfh3lr91p82ebq9ek3gb50]
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD  CONSTRAINT [FKs6cuymfeopmtm9q43k7yfrblv] FOREIGN KEY([user_id_of_doctor])
REFERENCES [dbo].[users] ([userid])
GO
ALTER TABLE [dbo].[conversations] CHECK CONSTRAINT [FKs6cuymfeopmtm9q43k7yfrblv]
GO
ALTER TABLE [dbo].[doctor_schedules]  WITH CHECK ADD  CONSTRAINT [FKnw1bqkn7gnn67y7akar04rfqk] FOREIGN KEY([doctorid])
REFERENCES [dbo].[doctors] ([doctorid])
GO
ALTER TABLE [dbo].[doctor_schedules] CHECK CONSTRAINT [FKnw1bqkn7gnn67y7akar04rfqk]
GO
ALTER TABLE [dbo].[doctors]  WITH CHECK ADD  CONSTRAINT [FK5oppnosntfhd1gv1f9hf17obq] FOREIGN KEY([departmentid])
REFERENCES [dbo].[departments] ([departmentid])
GO
ALTER TABLE [dbo].[doctors] CHECK CONSTRAINT [FK5oppnosntfhd1gv1f9hf17obq]
GO
ALTER TABLE [dbo].[doctors]  WITH CHECK ADD  CONSTRAINT [FKqpjxggelpprrynor8tfccuqj0] FOREIGN KEY([userid])
REFERENCES [dbo].[users] ([userid])
GO
ALTER TABLE [dbo].[doctors] CHECK CONSTRAINT [FKqpjxggelpprrynor8tfccuqj0]
GO
ALTER TABLE [dbo].[medical_records]  WITH CHECK ADD  CONSTRAINT [FK7jjh5dp4xy9g5bufg068y0nat] FOREIGN KEY([appointmentid])
REFERENCES [dbo].[appointments] ([appointment_id])
GO
ALTER TABLE [dbo].[medical_records] CHECK CONSTRAINT [FK7jjh5dp4xy9g5bufg068y0nat]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK9lv6l0fjewb396ne00ilyhdvg] FOREIGN KEY([conversationid])
REFERENCES [dbo].[conversations] ([conversation_id])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK9lv6l0fjewb396ne00ilyhdvg]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FKdqgg27nlpcggtmb095qpptigt] FOREIGN KEY([senderid])
REFERENCES [dbo].[users] ([userid])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FKdqgg27nlpcggtmb095qpptigt]
GO
ALTER TABLE [dbo].[patients]  WITH CHECK ADD  CONSTRAINT [FKjnlx7rkyrvolatj1kmj6wr4ul] FOREIGN KEY([userid])
REFERENCES [dbo].[users] ([userid])
GO
ALTER TABLE [dbo].[patients] CHECK CONSTRAINT [FKjnlx7rkyrvolatj1kmj6wr4ul]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FKiifqkqq7lkf9844d70n1v8lyj] FOREIGN KEY([appointmentid])
REFERENCES [dbo].[appointments] ([appointment_id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FKiifqkqq7lkf9844d70n1v8lyj]
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD  CONSTRAINT [FK46d3h5nlp2afnrhk1m66endr7] FOREIGN KEY([prescriptionid])
REFERENCES [dbo].[prescriptions] ([prescription_id])
GO
ALTER TABLE [dbo].[prescription_items] CHECK CONSTRAINT [FK46d3h5nlp2afnrhk1m66endr7]
GO
ALTER TABLE [dbo].[prescription_items]  WITH CHECK ADD  CONSTRAINT [FK5gdapn1c1jc8fbs7x3ykyeuyi] FOREIGN KEY([medicineid])
REFERENCES [dbo].[medicines] ([medicine_id])
GO
ALTER TABLE [dbo].[prescription_items] CHECK CONSTRAINT [FK5gdapn1c1jc8fbs7x3ykyeuyi]
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD  CONSTRAINT [FKa4qa05f0i8gb809rbfgee18f] FOREIGN KEY([recordid])
REFERENCES [dbo].[medical_records] ([record_id])
GO
ALTER TABLE [dbo].[prescriptions] CHECK CONSTRAINT [FKa4qa05f0i8gb809rbfgee18f]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK5ei13myvktvywtsjhjtp0ujum] FOREIGN KEY([doctorid])
REFERENCES [dbo].[doctors] ([doctorid])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK5ei13myvktvywtsjhjtp0ujum]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FKjogclax9hnncf2vx35xwuo92o] FOREIGN KEY([patientid])
REFERENCES [dbo].[patients] ([patientid])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FKjogclax9hnncf2vx35xwuo92o]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FKtbtxpgo5wwp74wmlyf4uql5m5] FOREIGN KEY([appointmentid])
REFERENCES [dbo].[appointments] ([appointment_id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FKtbtxpgo5wwp74wmlyf4uql5m5]
GO
ALTER TABLE [dbo].[system_notifications]  WITH CHECK ADD  CONSTRAINT [FKqmhh37gxetciixd98ot340n52] FOREIGN KEY([appointmentid])
REFERENCES [dbo].[appointments] ([appointment_id])
GO
ALTER TABLE [dbo].[system_notifications] CHECK CONSTRAINT [FKqmhh37gxetciixd98ot340n52]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FKgrhs0suhl8cbodxn47xadxp94] FOREIGN KEY([roleid])
REFERENCES [dbo].[roles] ([roleid])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FKgrhs0suhl8cbodxn47xadxp94]
GO
ALTER TABLE [dbo].[clinical_referrals]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='DONE' OR [status]='IN_PROGRESS' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[departments]  WITH CHECK ADD CHECK  (([status]='CLOSED' OR [status]='MAINTENANCE' OR [status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([status]='REFUNDED' OR [status]='CANCELLED' OR [status]='FAILED' OR [status]='PAID' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([gender]='OTHER' OR [gender]='FEMALE' OR [gender]='MALE'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([status]='DELETED' OR [status]='SUSPENDED' OR [status]='INACTIVE' OR [status]='ACTIVE'))
GO
USE [master]
GO
